extends layout

block content
  h1 Cat detail
    div
      p Name: #{cat.name}
    div
      img(src=cat.url)
    if (previousId)
      a(class='btn btn-primary' href=`/cats/${previousId}`) Previous
    else
      a(class='btn btn-primary disabled' aria-disabled="true") Previous
    if (nextId)
      a(class='btn btn-primary'  href=`/cats/${nextId}`) Next
    else
      a(class='btn btn-primary' aria-disabled="true") Next