extends layout

block content
  p Welcome to the Express cat library
  div(style="margin:10px 0")
    button(type="button" onClick="javascript:getRandomCat()" class="btn btn-primary") Another random cat
  div
    img(id="catImage" width="400px")
  